<!DOCTYPE html>
<html lang='{{ site.lang }}'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='color-scheme' content='light only'>
    <title>{% if page.title %}{{ page.title | escape }} · {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <link rel='stylesheet' href='{{ '/assets/css/minimal.css' | relative_url }}'>
  </head>
  <body>
    <main>
      {{ content }}
      <footer>
        <p>© {{ 'now' | date: '%Y' }} Andreea Bogdanovici</p>
      </footer>
    </main>
  </body>
</html>
